@import "animation.scss";
@import "loader.scss";
@import "animated-heart.scss";
@import "vars.scss";
@import "button-menu.scss";
@import "linear-button.scss";
@import "menu.scss";



body {
    font-size: 16px;
    width: 375px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.title {
    font-size: 25px;
    font-weight: bold;
}





.header {
    &__img {
        text-align: center;
        padding: 30px 0 10px 0;
    }

    &__location {
        color: #353535;
        font-weight: 700;
        text-align: center;
        background-color: #EAEAEA;
        padding: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px inset;
    }

    &__location__i {
        color: #353535;
        padding-right: 20px;
    }
}

.topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 50px 20px;
    background-color: #F7F7F7;

    &>* {
        text-align: center;
    }

    &__title {
        padding: 0 30px;
    }
}

.mainContainer {
    padding: 20px 20px 50px 20px;

    &__title {
        padding-bottom: 30px;
    }
}

.cardContainer {
    padding: 0 20px 50px 20px;
    background-color: #F7F7F7;

    &__title {
        padding: 40px 0 20px 0;
    }
}

.card {
    display: block;
    width: 335px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 20px;
    text-decoration:none;
    color: inherit;

    &__img {

        width: 335px;
        height: 175px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    &__label {
        font-size: 14px;
        color: #184439;
        position: relative;
        top: -165px;
        left: 250px;
        padding: 5px 10px;
        border-radius: 2px;
        background-color: $tertiaire;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    &__description {
        height: 60px;
        display: flex;
        padding: 0 20px;
        margin-top: -5px;

        &>* {
            flex: 1;
        }
    }
}

.card__textContainer {
    & .card__title{
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 10px;
        margin: 0;
    }

    & .card__subtitle {
        position: relative;
        top: -5px
    }
}


footer {
    padding: 30px 25px;
    background-color: #353535;

    li {
        color: white;
        padding-bottom: 10px;
    }
}

.footer__logo {
    color: white;
    width: 100px;
    height: 20px;
    margin-bottom: 20px;
}

.footer__menu__li__icon {
    padding-right: 5px;
}