.fadeInTop {
  animation: fadeInTop 1s ease-in-out;
  animation-delay: 3s;
}

.fadeInTop1 {
  animation: fadeInTop 1.5s ease-in-out;
  animation-delay: 3.1s;
}

.fadeInTop2 {
  animation: fadeInTop 2s ease-in-out;
  animation-delay: 3.2s;
}

.fadeInTop3 {
  animation: fadeInTop 2s ease-in-out;
  animation-delay: 3.3s;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}
.cardMenu__descriptionContainer {
  display: flex;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.loaderContainer {
  opacity: 1;
  opacity: 1;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1000;
  animation: 1s fadeout;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.loader {
  position: relative;
  top: 30%;
  text-align: center;
  animation: 1s zoom infinite;
}

.iconContainer {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  border: none;
  background-color: inherit;
  margin: 0;
  padding: 0;
}
.iconContainer__img {
  padding-top: 7px;
  width: 20px;
  height: 20px;
  background-color: #F7F7F7;
  z-index: 1;
}
.iconContainer__img:hover {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.iconContainer__img:after {
  opacity: 0;
}
.iconContainer__imgColored {
  position: relative;
  top: 4px;
  right: 23px;
  width: 25px;
  height: 25px;
  z-index: 0;
}

.buttonMenu {
  display: flex;
  align-items: center;
  width: 330px;
  background-color: #F7F7F7;
  padding: 20px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 30px;
}
.buttonMenu__number {
  position: relative;
  right: 31px;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  background-color: #9356DC;
  border-radius: 30px;
}
.buttonMenu__icon {
  position: relative;
  right: 13px;
  font-size: 20px;
  padding: 0 5px;
  color: gray;
}

.buttonMenu:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.buttonMenu:hover .buttonMenu__icon {
  color: #9356DC;
}

.linearButton {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  margin-top: 30px;
  border-radius: 30px;
  padding: 15px 20px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linearButton:hover {
  background: linear-gradient(#f394d8, #ac7de6);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 6px 12px 0px;
}

.logoMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0 10px 0;
}
.logoMenu__icon {
  position: relative;
  right: 60px;
  font-size: 22px;
}

.menuContainerBackground {
  background-image: url(../images/a-la-francaise.jpg);
}

.menuContainerBackground1 {
  background-image: url(../images/la-note-enchantee.jpg);
}

.menuContainerBackground2 {
  background-image: url(../images/la-palette-du-gout.jpg);
}

.menuContainerBackground3 {
  background-image: url(../images/le-delice-des-sens.jpg);
}

.menuContainer {
  padding: 200px 0 1px 0;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-size: contain;
}
.menuContainer__title {
  display: flex;
  padding: 40px 20px 0 20px;
  background-color: #f7f7f7;
  border-radius: 40px 40px 0 0;
}

.menuTitle {
  font-family: Shrikhand;
  font-size: 27px;
  margin: 0;
  flex: 1;
}

.cardMenuContainer {
  margin: 20px 0;
  padding: 0 20px;
}
.cardMenuContainer__title {
  font-size: 18px;
  text-transform: uppercase;
  padding: 30px 0 10px 0;
  font-weight: 400;
}
.cardMenuContainer__title::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  border-bottom: 4px solid #99E2D0;
}

.cardMenu {
  height: 70px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 15px;
  min-width: 100%;
  overflow: hidden;
  animation: reducerInverse 0.3s ease-in-out;
}
.cardMenu__content {
  display: flex;
  padding: 12px;
  justify-content: space-between;
  min-width: 100%;
  align-items: end;
  box-sizing: border-box;
  transition: min-width 400ms ease-in-out;
}
.cardMenu .cardMenu__animated__icon {
  animation: rotateInverse 0.3s ease-in-out;
}
.cardMenu:hover .cardMenu__content {
  transition: min-width 250ms ease-in-out;
  min-width: 85%;
}
.cardMenu:hover .cardMenu__subtitle {
  width: 220px;
}
.cardMenu:hover .cardMenu__title {
  width: 220px;
}
.cardMenu:hover .cardMenu__animated__icon {
  animation: rotate 0.3s ease-in-out;
  animation-delay: 0.2s;
}
.cardMenu:hover .cardMenu__price {
  margin: 0 5px;
}

.cardMenu__animated {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 73px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}
.cardMenu__animated__icon {
  color: white;
  font-size: 24px;
}

.cardMenu__description .cardMenu__title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
.cardMenu__description .cardMenu__subtitle {
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardMenu__price {
  font-size: 14px;
  font-weight: 700;
}

.menuBottom {
  text-align: center;
  background-color: #f7f7f7;
}

.linearButton.linearButtonMenu {
  padding: 15px 40px;
  margin: 20px 0 40px;
}

.footerLink a {
  text-decoration: none;
  color: inherit;
}

@keyframes reducer {
  from {
    min-width: 100%;
  }
  to {
    min-width: 83%;
  }
}
@keyframes reducerInverse {
  from {
    min-width: 83%;
  }
  to {
    min-width: 100%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateInverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
body {
  font-size: 16px;
  width: 375px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.title {
  font-size: 25px;
  font-weight: bold;
}

.header__img {
  text-align: center;
  padding: 30px 0 10px 0;
}
.header__location {
  color: #353535;
  font-weight: 700;
  text-align: center;
  background-color: #EAEAEA;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px inset;
}
.header__location__i {
  color: #353535;
  padding-right: 20px;
}

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 50px 20px;
  background-color: #F7F7F7;
}
.topContainer > * {
  text-align: center;
}
.topContainer__title {
  padding: 0 30px;
}

.mainContainer {
  padding: 20px 20px 50px 20px;
}
.mainContainer__title {
  padding-bottom: 30px;
}

.cardContainer {
  padding: 0 20px 50px 20px;
  background-color: #F7F7F7;
}
.cardContainer__title {
  padding: 40px 0 20px 0;
}

.card {
  display: block;
  width: 335px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 20px;
  text-decoration: none;
  color: inherit;
}
.card__img {
  width: 335px;
  height: 175px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.card__label {
  font-size: 14px;
  color: #184439;
  position: relative;
  top: -165px;
  left: 250px;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: #99E2D0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card__description {
  height: 60px;
  display: flex;
  padding: 0 20px;
  margin-top: -5px;
}
.card__description > * {
  flex: 1;
}

.card__textContainer .card__title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
  margin: 0;
}
.card__textContainer .card__subtitle {
  position: relative;
  top: -5px;
}

footer {
  padding: 30px 25px;
  background-color: #353535;
}
footer li {
  color: white;
  padding-bottom: 10px;
}

.footer__logo {
  color: white;
  width: 100px;
  height: 20px;
  margin-bottom: 20px;
}

.footer__menu__li__icon {
  padding-right: 5px;
}

/*# sourceMappingURL=style.css.map */
